<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Level Ground</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header> 
			<nav>
				<a href="#">Classes</a>
				<a href="#">Hire Us</a>
				<img src="#" alt="logo"/>
				<img src="#" alt="Donate"/>
			</nav>
		</header>
		<section class="first"> 
			<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, similique nam aspernatur amet minima ipsa sed quibusdam commodi optio repellendus recusandae inventore numquam voluptatibus possimus placeat alias excepturi iste molestias?</p>
			<a href="#">Watch the video</a>
		</section>
		<section class="why">
			<h2>WHY</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quos ut molestiae, sapiente fugiat delectus dolores fugit laborum a odit qui tempore officia asperiores autem maiores voluptatibus modi vitae doloribus.</p>
		</section>
		<section class="gym">
			<section>
				<img src="#" alt="gym">
				<h2>VISIT THE GYM</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut minima fuga labore quos quasi reiciendis repellat nihil doloremque</p>
				<a href="#">SEE CLASSES</a>
			</section>
			<section>
				<img src="#" alt="gym">
				<h2>WE VISIT YOU</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut minima fuga labore quos quasi reiciendis repellat nihil doloremque</p>
				<a href="#">HIRE US</a>
			</section>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
