.container{
  display: flex;
  height : 100vh;
}

[class ^="box-"]{
   width: 140px;
   height: 140px;
   background-color: skyblue;
   border: 2px solid black;
   // Placing text at center 
    display : flex;
    justify-content : center;
    align-items : center;

// To view the letter better
   font-size: 65px;
}